<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://twitter.com/" binding="webHttpBinding" contract="LinqTwit.Twitter.ITwitterRestServiceContract" behaviorConfiguration="twitter"/>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="twitter">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>