<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
      <client>
        <endpoint address="http://twitter.com/" behaviorConfiguration="twitter" name="twitterEndpoint"
          binding="webHttpBinding" bindingConfiguration="twitter" contract="LinqTwit.Twitter.ITwitterRestServiceContract" />
      </client>

      <behaviors>
        <endpointBehaviors>
          <behavior name="twitter">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
        <webHttpBinding>
          <binding name="twitter">
            <security mode="TransportCredentialOnly">
              <transport clientCredentialType="Basic" />
            </security>
          </binding>
        </webHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>